/* App.css */

/* General layout */

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.5); /* Increase the size of the checkbox */

}

.checkbox-container label {
  font-size: 1.2rem; /* Set the font size */
  color: black; /* Set the color to red */
}

.content {
  display: flex;
}

/* Header styles */
.header {
  height: 60px; 
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

/* Navigation styles */
.nav {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.home-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 30px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.generate-btn {
  position: absolute;
  top: 90px;
  right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.home-button:hover {
  background-color: #555; 
  color: white;
}


/* Nav Bar Dropdown Contents */
.dropdown_hover_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 250px;
}

.dropdown {
  position: relative;
  font-size: 20px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  font-size: 16px;
  position: absolute;
  width: 225px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-content .dropdown-button {
  width: 100%; /* Occupy the entire width of the dropdown */
  text-align: left; /* Align the text to the left */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: #f1f1f1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-button:hover {
  background-color: #ddd;
}

/* Sidebar styles */
.sidebar {
  width: 17.5%;
  max-height: calc(75vh - 150px);
  background: #f8f9fa;
  font-family: "Montserrant", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

/* Sidebar styles */
.bottom-sidebar {
  width: 17.5%;
  max-height: calc(75vh - 150px);
  background: #f8f9fa;
  font-family: "Montserrant", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.search-container {
  position: sticky; /* Set position to sticky */
  top: 0; /* Stick to the top of the sidebar */
  background-color: #f8f9fa; /* Adjust background color as needed */
  padding: 8px; /* Add padding for spacing */
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
}


.search-bar:focus {
  border-color: #888;
}

.sidebar-container {
  width: 35%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
}

.top-half {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.bottom-half {
  flex: 1;
  display: flex;
  margin-left: 10px;
}

.requirements-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the spacing between key-value pairs */
}

.requirement-item {
  margin-right: 150px; /* Adjust the right margin for each item */
}

.sidebar-title {
  margin-top: 10px; /* Adjust the margin as per your preference */
}

.draggable-course {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: grab;
  border: 2px solid black;
}

.draggable-course:active {
  cursor: grabbing;
}

.sidebar .draggable-course.undraggable {
  opacity: 0.5; /* Make undraggable courses transparent */
  cursor: default; /* Disable cursor for undraggable courses */
  pointer-events: none; /* Disable pointer events for undraggable courses */
}

.main-content {
  position: relative; 
  flex-grow: 1;
  padding: 20px;
}

/* QuarterBox styles */
.quarter-box {
  border: 2px solid gray;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 325px;
  background: linear-gradient(to bottom, rgb(231, 192, 108), #fff);
  width: 22.5%;
  border-radius: 10px;
  position: relative;
}

.collapsed .quarter-box {
  height: 80px; /* Set the collapsed height */
}

.quarterbox-row {
  display: flex;
  gap: 10px; /* Adjust the value as per your preference */
}

.quarter-box h2 {
  font-family: "Montserrant", sans-serif;
}

.quarterbox-container {
  margin-top: 20px; /* Adjust the value as needed */
  margin-left: 20px; /* Adjust the value as needed */
}

.quarterbox-container-wrapper {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 150px); /* Adjust the height as needed */
}

.quarter-title {
  font-family: "Roboto", sans-serif; /* Replace "FontName" with your desired font */
}

.quarterbox-draggable-course {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: grab;
  border: 2px solid black;
}

.quarter-credits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute; /* Position the container absolutely */
  bottom: 0; /* Position it at the bottom */
  left: 0; /* Align it to the left */
  right: 0;
}

.quarter-credits-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.quarter-credits-box p {
  margin: 0;
  font-size: 14px;
}

.course-list {
  height: 220px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.course-list::-webkit-scrollbar {
  width: 10px;
}

.course-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the scrollbar track (same as container background color) */
}

.course-list::-webkit-scrollbar-thumb {
  /*background: linear-gradient(to bottom, rgb(231, 192, 108), #fff);*/
  background: grey;
  border-radius: 5px; /* Add border radius for a rounded thumb */
}

.course-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Color of the scrollbar thumb on hover */
}

.remove-course-button {
  font-size: 12px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  /* Additional styles */
  text-align: right;
  color: red;
}

.remove-course-button:hover {
  border: 1px solid grey; /* Add border when hovered over */
}

.collapsed .course-list-container {
  display: none; /* Hide the course list when collapsed */
}




.collapse-button,
.expand-button {
  width: 70px; /* Set the width */
  height: 40px; /* Set the height */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  /* Other CSS properties for styling the buttons */
}