/* App.css */

/* General layout */
.content {
  display: flex;
}

/* Header styles */
.header {
  height: 60px; 
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

/* Navigation styles */
.nav {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.home-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 30px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.generate-btn {
  position: absolute;
  top: 90px;
  right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.home-button:hover {
  background-color: #555; 
  color: white;
}


/* Nav Bar Dropdown Contents */
.dropdown_hover_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  display: inline-block;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dropdown {
  position: relative;
  font-size: 20px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  font-size: 16px;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: #f1f1f1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-button:hover {
  background-color: #ddd;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  height: calc(100vh - 60px);
  background: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
}

.draggable-course {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  cursor: grab;
}

.draggable-course:active {
  cursor: grabbing;
}

.sidebar .draggable-course.undraggable {
  opacity: 0.5; /* Make undraggable courses transparent */
  cursor: default; /* Disable cursor for undraggable courses */
  pointer-events: none; /* Disable pointer events for undraggable courses */
}

.main-content {
  position: relative; 
  flex-grow: 1;
  padding: 20px;
}

/* QuarterBox styles */
.quarter-box {
  border: 2px solid gray;
  padding: 10px;
  margin-bottom: 10px;
  height: 400px;
  width: 250px
}

.quarterbox-row {
  display: flex;
  gap: 10px; /* Adjust the value as per your preference */
}

.quarterbox-container-wrapper {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 150px); /* Adjust the height as needed */
}

.remove-course-button {
  font-size: 12px;
  background: none;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  float: right;
  /* Additional styles */
  text-align: right;
  color: red;
}

.remove-course-button:hover {
  border: 1px solid grey; /* Add border when hovered over */
}